@page
@model UsersPage
@{
    ViewData["Title"] = "All Users";
}

<h1 class="text-center mb-4" style="font-family: 'DM Serif Display', serif;">
    All Users
</h1>

<div class="row g-4 justify-content-center">
    @foreach (var user in Model.Users)
    {
        <div class="col-sm-6 col-md-4">
            <div class="card-user">
                <div class="card-content">
                    <h5>@user.username</h5>
                    <p class="text-muted mb-3">@user.description</p>
                    <a href="/User/Details/@user.ID" class="btn-retro">View Profile</a>
                </div>
                <div class="card-image">
                    <img src="~/images/profile.jpeg"
                         class="picture1"
                         alt="Profile Picture" />
                </div>
            </div>
        </div>
    }
</div>

